* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f172a;
}

nav {
  width: 100%;
  background-color: #0f172a;
  text-align: center;
  padding: 10px;
  top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 5px;
}

a {
  text-decoration: none;
  padding: 2px 8px;
  color: #fff;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

a:hover {
  background-color: #22c55e;
  transform: translateY(-3px);
}

section {
  margin-top: 1px;
  padding: 20px;
  position: relative;
  margin-bottom: 80px;
  /* text-align: center;
  display: flex;
  flex-direction: column; */
}

footer {
  background-color: #0f172a;
  color: #abb8c9;
  text-align: center;
  padding: 10px;
}

.rm {
  color: #22c55e;
}

.liana {
  color: #22c55e;
  padding-bottom: 10px;
}

.title {
  color: #abb8c9;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.info {
  color: #abb8c9;
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto 20px;
  text-align: justify;
  padding: 15px;
  margin: 10px auto;
}

.fiapon {
  padding: 10px;
  color: #22c55e;
}
